<div class="banner">
  <h1>Fancy Cocktails</h1>
</div>

<div class="container">
  <div class="row">
    <% @cocktail.each do |drink| %>
    <div class="col-md-4 text-center">

      <p class="card">
        <%= link_to drink[:name], cocktail_path(drink) %></p>
      </div>
      <% end %>

    </div>
    <div class="btn btn-centered"><%= link_to "Create a new Cocktail", new_cocktail_path %></div>
  </div>
