<div class="banner">
  <h1>Fancy Cocktails</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <% @cocktail.each do |drink| %>

      <p><%= link_to drink[:name], cocktail_path(drink) %></p>
      <% end %>

      <div class="btn"><%= link_to "Create a new Cocktail", new_cocktail_path %></div>
    </div>
  </div>
</div>
